body{
    color: rgb(252, 0, 176);
    background-color: rgb(4, 37, 56);
    font-family: impact;
}


#header{
    height: 50px;
    color: rgb(0, 238, 255);
    background-color: rgb(252, 0, 176);
    font-family: impact;
    text-align: center;
}

#header-text{
    color: rgb(0, 238, 255);
}


.radical {
    margin-top: 5px;
    font-family: verdana;
    color:palevioletred;
}

.bigger_field {
    width: 1750px; 
    height: 80px; 
    border: 1px solid #999999; 
    padding: 5px;
}
