{% extends "base.html" %}
{% block title %}Team Bard's Wiki Viewer{% endblock %}

{% block content %}
<!--<!DOCTYPE html>
<html> -->
<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>pages</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <style type = "text/css">
            .fa-heart-o {
                color: blue;
                cursor: pointer;
            }
  
            .fa-heart {
                color: red;
                cursor: pointer;
            }
        </style>
    </head>
</head>

<!-- TODO: Need to finish the if statement for when the user is logged in, they have a favorites list and a list with hearts-->

{% if user.is_authenticated %}

<body>
    <script src = "https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".heart").click(function() {
                var $this = $(this);
                var pageName = $this.data('page-name');
                if ($this.hasClass("liked")) {
                    $.ajax({
                        url: '/pages',
                        type: 'POST',
                        data: {page_name: pageName, post_type: "deletion"},
                        success: function() {
                            $this.html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
                            $this.removeClass("liked");
                        }
                    });
                } else {
                    $.ajax({
                        url: '/pages',
                        type: 'POST',
                        data: {page_name: pageName, post_type: "addition"},
                        success: function() {
                            $this.html('<i class="fa fa-heart" aria-hidden="true"></i>');
                            $this.addClass("liked");
                        }
                    });
                }
            });
        });
    </script>
        <section>             
            <h1> Favorites List </h1>
            
        </section>

        <section>
            <h1> Pages contained in this Wiki </h1>
                <ul style = "list-style: none;">
                    {% for page in pages %}
                    <li>
                        <span class= "heart" data-page-name = "{{ page.name}}"><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                        <a href="{{ url_for('page', pageName = (page.name| replace('.txt',''))) }}">{{ page.name | replace(".txt","") }}</a>
                        
                    </li>
                    {% endfor %} 
                </ul>
        </section> 
    </div>
</body>

{% else %}
<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO: implement something that puts every single url onto the Pages page.-->
         <h1> Pages contained in this Wiki </h1>
            <ul>
                {% for page in pages %}
                
                <!-- for this for loop approach to work, backend.get_all_page_names() needs to
                be an iterable or a list so that it can make a url for each page-->
                <li>
                    <a href="{{ url_for('page', pageName = (page.name| replace('.txt',''))) }}">{{ page.name | replace(".txt","") }}</a>
                    
                </li>
                <!-- there is a possibility that we should be using backend.get_wiki_page() to do this instead-->
                {% endfor %} 
            </ul> 
    </div>
</body>
{% endif %}
{% endblock %}
