{% extends "base.html" %}
{% block title %}Team Bard's Wiki Viewer{% endblock %}

{% block content %}
<!--<!DOCTYPE html>
<html> -->
<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>pages</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO: implement something that puts every single url onto the Pages page.-->
         <h1> Pages contained in this Wiki </h1>
            <ul>
                {% for page in pages %}
                
                <!-- for this for loop approach to work, backend.get_all_page_names() needs to
                be an iterable or a list so that it can make a url for each page-->
                <li>
                    <a href="{{ url_for('page', pageName = page.name) }}">{{ page.name | replace(".txt","") }}</a>
                    
                </li>
                <!-- there is a possibility that we should be using backend.get_wiki_page() to do this instead-->
                {% endfor %} 
            </ul> 
    </div>
</body>

{% endblock %}
